body {
    font-family: monospace;
    font-size: 16px;
    background-color: #fff;
    color: #000;
    text-align: left;
    padding: 40px;
    margin: auto;
}

h1 {
    font-size: 24px;
    font-weight: normal;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 900px;
    margin: auto;
}
